<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/client/pages/home/index.css' />
      <script src="/client/pages/home/index.js" ></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%- module1.render()%>
  </body>
</html>
